# 8-9. 프로젝트 - Movielens 영화 추천 실습

- 유저가 영화에 대해 평점을 매긴 데이터가 데이터 크기 별로 있습니다. MovieLens 1M Dataset 사용을 권장합니다.
- 별점 데이터는 대표적인 explicit 데이터입니다. 하지만 implicit 데이터로 간주하고 테스트해볼 수 있습니다.
- 별점을 시청횟수로 해석해서 생각하겠습니다.
- 또한 유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정하고 제외하겠습니다.

In [1]:
# # 데이터 준비
# 1) wget으로 데이터 다운로드
# $ wget http://files.grouplens.org/datasets/movielens/ml-1m.zip

# 2) 다운받은 데이터를 작업디렉토리로 옮김
# $ mv ml-1m.zip ~/aiffel/recommendata_iu/data

# 3) 작업디렉토리로 이동
# $ cd ~/aiffel/recommendata_iu/data

# 4) 압축 해제
# $ unzip ml-1m.zip

## 1) 데이터 준비와 전처리

In [2]:
# movielens 데잍는0 rating.dat안에 이미 인덱싱까지 완료된 사용자-영화-평점 데이터가 정리되어 있음
import os
import pandas as pd
rating_file_path = os.getenv("HOME") + "/aiffel/recommendata_iu/data/ml-1m/ratings.dat"
ratings_cols = ["user_id", "movie_id", "rating", "timestamp"]
ratings = pd.read_csv(rating_file_path, sep="::", names=ratings_cols, engine="python")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [3]:
# 3점 이상만 남기기
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [4]:
# rating 칼럼 이름 count로 바꾸기
ratings.rename(columns={'rating':"count"}, inplace=True)
ratings["count"]

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: count, Length: 836478, dtype: int64

In [5]:
ratings.head()

   user_id  movie_id  count  timestamp
0        1      1193      5  978300760
1        1       661      3  978302109
2        1       914      3  978301968
3        1      3408      4  978300275
4        1      2355      5  978824291

In [6]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옴
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding = 'ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

## 2) 분석해 봅시다.
- ratings에 있는 유니크한 영화 개수
- rating에 있는 유니크한 사용자 수
- 가장 인기 있는 영화 30개(인기순)

In [7]:
# 유니크한 영화 수
ratings["movie_id"].nunique()

3628

In [8]:
# 유니크한 사용자 수 
ratings["user_id"].nunique()

6039

In [9]:
# 데이터 병합
data = pd.merge(movies, ratings)
data

,movie_id,title,genre,user_id,count,timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,1,5,978824268
1,1,Toy Story (1995),Animation|Children's|Comedy,6,4,978237008
2,1,Toy Story (1995),Animation|Children's|Comedy,8,4,978233496
3,1,Toy Story (1995),Animation|Children's|Comedy,9,5,978225952
4,1,Toy Story (1995),Animation|Children's|Comedy,10,5,978226474
...,...,...,...,...,...,...
836473,3952,"Contender, The (2000)",Drama|Thriller,5682,3,1029457829
836474,3952,"Contender, The (2000)",Drama|Thriller,5812,4,992072099
836475,3952,"Contender, The (2000)",Drama|Thriller,5831,3,986223125
836476,3952,"Contender, The (2000)",Drama|Thriller,5837,4,1011902656
836477,3952,"Contender, The (2000)",Drama|Thriller,5998,4,1001781044

In [10]:
# 사용하는 데이터만 남김
using_cols = ["title", "user_id", "count"]
data = data[using_cols]
data.head()

              title  user_id  count
0  Toy Story (1995)        1      5
1  Toy Story (1995)        6      4
2  Toy Story (1995)        8      4
3  Toy Story (1995)        9      5
4  Toy Story (1995)       10      5

In [11]:
# 첫번째 유저가 어떤 영화 봤는지 확인

condition = (data["user_id"] == data.loc[0, "user_id"])
data.loc[condition]

                                                    title  user_id  count
0                                        Toy Story (1995)        1      5
19773                                   Pocahontas (1995)        1      5
35123                                    Apollo 13 (1995)        1      5
54895           Star Wars: Episode IV - A New Hope (1977)        1      4
116019                            Schindler's List (1993)        1      5
119008                          Secret Garden, The (1993)        1      4
130190                                     Aladdin (1992)        1      4
138999             Snow White and the Seven Dwarfs (1937)        1      4
139706                        Beauty and the Beast (1991)        1      5
142605                                       Fargo (1996)        1      4
149342                   James and the Giant Peach (1996)        1      3
153599  Wallace & Gromit: The Best of Aardman Animatio...        1      3
157311                              Close Shave, A (1995)        1      3
162564                Hunchback of Notre Dame, The (1996)        1      4
184379                                My Fair Lady (1964)        1      3
185984                           Wizard of Oz, The (1939)        1      4
194770                                        Gigi (1958)        1      4
206730                                  Cinderella (1950)        1      5
208099                                Mary Poppins (1964)        1      5
209016                                       Dumbo (1941)        1      5
210912                         Sound of Music, The (1965)        1      5
230314                  E.T. the Extra-Terrestrial (1982)        1      4
248714             One Flew Over the Cuckoo's Nest (1975)        1      5
253451                         Princess Bride, The (1987)        1      3
264249                       To Kill a Mockingbird (1962)        1      4
293292                          Dead Poets Society (1989)        1      4
310685                          Back to the Future (1985)        1      5
321302                                     Ben-Hur (1959)        1      5
376764                                     Ponette (1996)        1      4
378252                                    Hercules (1997)        1      4
413443                                     Titanic (1997)        1      4
427854                     Last Days of Disco, The (1998)        1      5
433771                                       Mulan (1998)        1      4
450533                                    Rain Man (1988)        1      5
451817                          Driving Miss Daisy (1989)        1      4
468578                                       Bambi (1942)        1      4
472333                         Saving Private Ryan (1998)        1      5
525392                                        Antz (1998)        1      4
530676                               Pleasantville (1998)        1      3
536358                              Meet Joe Black (1998)        1      3
539498                               Bug's Life, A (1998)        1      5
552697                      Miracle on 34th Street (1947)        1      4
604667                                      Tarzan (1999)        1      3
605985                   Run Lola Run (Lola rennt) (1998)        1      4
624733                            Sixth Sense, The (1999)        1      4
630899                                   Airplane! (1980)        1      4
633946                                         Big (1988)        1      4
635999                          Christmas Story, A (1983)        1      5
656320                    Ferris Bueller's Day Off (1986)        1      4
698979                                  Awakenings (1990)        1      5
701857                                 Toy Story 2 (1999)        1      4
716464                           Girl, Interrupted (1999)        1      4
748880                             Erin Brockovich (2000)        1      4

toy story (1995), toy story 2 (1999), aladdin (1992), beauty and the beast (1991), wizard of oz, the (1939)

In [12]:
# 검색을 쉽게 하기위해 영화제목 문자열을 소문자로 변경 
data["title"] = data["title"].str.lower()
data.head(10)

/home/aiffel-dj47/anaconda3/envs/aiffel/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              title  user_id  count
0  toy story (1995)        1      5
1  toy story (1995)        6      4
2  toy story (1995)        8      4
3  toy story (1995)        9      5
4  toy story (1995)       10      5
5  toy story (1995)       18      4
6  toy story (1995)       19      5
7  toy story (1995)       21      3
8  toy story (1995)       23      4
9  toy story (1995)       26      3

In [13]:
# 인기많은 영화 30개
data_count = data.groupby("title")["user_id"].count()
data_count.sort_values(ascending=False).head(10)

title
american beauty (1999)                                   3211
star wars: episode iv - a new hope (1977)                2910
star wars: episode v - the empire strikes back (1980)    2885
star wars: episode vi - return of the jedi (1983)        2716
saving private ryan (1998)                               2561
terminator 2: judgment day (1991)                        2509
silence of the lambs, the (1991)                         2498
raiders of the lost ark (1981)                           2473
back to the future (1985)                                2460
matrix, the (1999)                                       2434
Name: user_id, dtype: int64

In [14]:
# 유저별 몇명의 영화를 봤는지 통계
user_count = data.groupby("user_id")["title"].count()
user_count.describe()

count    6039.000000
mean      138.512668
std       156.241599
min         1.000000
25%        38.000000
50%        81.000000
75%       177.000000
max      1968.000000
Name: title, dtype: float64

In [15]:
# 유저별 별점 중앙값에 대한 통계
user_median = data.groupby("user_id")["count"].median()
user_median.describe()

count    6039.000000
mean        4.055970
std         0.432143
min         3.000000
25%         4.000000
50%         4.000000
75%         4.000000
max         5.000000
Name: count, dtype: float64

## 3) 내가 선호하는 영화를 5가지 골라서 rating에 추가해 줍시다.

In [16]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ["toy story (1995)", "toy story 2 (1999)", "aladdin (1992)", "beauty and the beast (1991)", "wizard of oz, the (1939)"]

# mark라는 user_id가 위 영화를 별점을 5점씩 줬다고 가정
my_playlist  = pd.DataFrame({"user_id":["mark"]*5, "title": my_favorite, "count":[5]*5})

if not data.isin({"user_id":["mark"]})["user_id"].any(): # user_id에 mark라는 데이터가 없다면 
    data = data.append(my_playlist) # 위에 임의로 만든 my_playlist 데이터 추가
    
data.tail(10) # 추가 되었는지 확인

                              title user_id  count
836473        contender, the (2000)    5682      3
836474        contender, the (2000)    5812      4
836475        contender, the (2000)    5831      3
836476        contender, the (2000)    5837      4
836477        contender, the (2000)    5998      4
0                  toy story (1995)    mark      5
1                toy story 2 (1999)    mark      5
2                    aladdin (1992)    mark      5
3       beauty and the beast (1991)    mark      5
4          wizard of oz, the (1939)    mark      5

In [17]:
# 위에 코드에서 숫자를 ""로 묶어줘서 str으로 인식해 csr_matrix로 안 넘어갔음

## 4) CSR matrix를 직접 만들어 봅시다.

In [18]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data["user_id"].unique()
movie_unique = data["title"].unique()

In [19]:
# 유저, 아티스트 인덱싱 코드 idx는 index 약자
user_to_idx = {v:k for k,v in enumerate(user_unique)} # 유저유니크에서 k에 번호주고 v에 유저유니크 내용주고 v는 유저 k 는번호
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}
print('ok')

ok

In [20]:
print(user_unique)

[1 6 8 ... 2245 3043 'mark']

In [21]:
print(type(user_unique))

<class 'numpy.ndarray'>

In [22]:
print(movie_unique)

['toy story (1995)' 'jumanji (1995)' 'grumpier old men (1995)' ...
 'tigerland (2000)' 'two family house (2000)' 'contender, the (2000)']

In [23]:
print(type(movie_unique))

<class 'numpy.ndarray'>

In [24]:
data

                          title user_id  count
0              toy story (1995)       1      5
1              toy story (1995)       6      4
2              toy story (1995)       8      4
3              toy story (1995)       9      5
4              toy story (1995)      10      5
..                          ...     ...    ...
0              toy story (1995)    mark      5
1            toy story 2 (1999)    mark      5
2                aladdin (1992)    mark      5
3   beauty and the beast (1991)    mark      5
4      wizard of oz, the (1939)    mark      5

[836483 rows x 3 columns]

In [25]:
# 인덱싱 확인
print(user_to_idx['mark']) # 6040명의 유저 중 마지막으로 추가된 유저이니 6039 나와야함
print(movie_to_idx["toy story (1995)"])

6039
0

In [26]:
# indexing을 통해 데이터의 컬럼내 값을 바꾸는 코드
# 딕셔너리 자료형의 get 함수는 https://wikidocs.net/16 을 참고

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 series 구하기
# 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될테니 dropna()로 제거
temp_user_data = data["user_id"].map(user_to_idx.get).dropna() # Key로 Value얻기(get) # map은 리스트의 요소를 지정된 함수로 처리해주는 함수
if len(temp_user_data) == len(data): # 모든 row가 정상적으로 인덱싱 되었다면
    print("user_id column indexing ok")
    data["user_id"] = temp_user_data # data["user_id"]를 인덱싱된 series로 교체
else: 
    print("user_id column indexing fail")
    
# artist_to_idx도 위와 동일한 방식으로 진행
temp_movie_data = data["title"].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(data):
    print("title column indexing ok")
    data["title"] = temp_movie_data
else:
    print("user_id column indexing fail")
    
data

user_id column indexing ok
title column indexing ok

    title  user_id  count
0       0        0      5
1       0        1      4
2       0        2      4
3       0        3      5
4       0        4      5
..    ...      ...    ...
0       0     6039      5
1    2845     6039      5
2     568     6039      5
3     575     6039      5
4     838     6039      5

[836483 rows x 3 columns]

# data의 user_id, artist 컬럼 값들이 모두 정수 인덱스 값으로 변경 완료. 훈련에 필요한 데이터 전처리 완료

# 8-6. CSR(Compressed Sparse Row) Matrix

In [27]:
from scipy.sparse import csr_matrix

num_user = data["user_id"].nunique()
num_title = data["title"].nunique()

csr_data = csr_matrix((data['count'], (data.user_id, data.title)))
csr_data

<6040x3628 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

In [28]:
print(ratings)

         user_id  movie_id  count  timestamp
0              1      1193      5  978300760
1              1       661      3  978302109
2              1       914      3  978301968
3              1      3408      4  978300275
4              1      2355      5  978824291
...          ...       ...    ...        ...
1000203     6040      1090      3  956715518
1000205     6040      1094      5  956704887
1000206     6040       562      5  956704746
1000207     6040      1096      4  956715648
1000208     6040      1097      4  956715569

[836478 rows x 4 columns]

# 5) als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 봅시다.

#### als __init__ 파라미터
1. factors : 유저와 아이템의 벡터를 몇 차원으로 할 것인지
2. regularization : 과적합을 방지하기 위해 정규화 값을 얼마나 사용할 것인지
3. use_gpu : gpu를 사용할 것인지
4. iterations : epochs과 같은 의미; 데이터를 몇번 박복해서 학습할 것인지
1, 4를 늘릴수록 학습을 잘하지만 과적합의 우려가 있음

In [29]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [79]:
# implicit alternatingleastsquares모델 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=50, dtype=np.float32)
print("ok")

ok

In [80]:
# als모델은 input으로 (item X user 꼴의 매트릭스를 받기 때문에 transpose 해줌)
csr_data_transpose = csr_data.T # T전치? 행렬변환?
csr_data_transpose

<3628x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [81]:
# 모델훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/50 [00:00<?, ?it/s]

In [33]:
data.tail()

   title  user_id  count
0      0     6039      5
1   2845     6039      5
2    568     6039      5
3    575     6039      5
4    838     6039      5

In [34]:
user_to_idx

{1: 0,
 6: 1,
 8: 2,
 9: 3,
 10: 4,
 18: 5,
 19: 6,
 21: 7,
 23: 8,
 26: 9,
 28: 10,
 34: 11,
 36: 12,
 38: 13,
 44: 14,
 45: 15,
 48: 16,
 49: 17,
 51: 18,
 56: 19,
 60: 20,
 65: 21,
 68: 22,
 73: 23,
 75: 24,
 76: 25,
 78: 26,
 80: 27,
 90: 28,
 92: 29,
 96: 30,
 99: 31,
 109: 32,
 112: 33,
 114: 34,
 117: 35,
 118: 36,
 119: 37,
 121: 38,
 123: 39,
 131: 40,
 132: 41,
 134: 42,
 139: 43,
 142: 44,
 146: 45,
 147: 46,
 148: 47,
 149: 48,
 150: 49,
 152: 50,
 156: 51,
 157: 52,
 162: 53,
 163: 54,
 168: 55,
 169: 56,
 173: 57,
 175: 58,
 182: 59,
 184: 60,
 186: 61,
 187: 62,
 190: 63,
 193: 64,
 194: 65,
 195: 66,
 198: 67,
 202: 68,
 204: 69,
 213: 70,
 214: 71,
 215: 72,
 220: 73,
 223: 74,
 224: 75,
 225: 76,
 230: 77,
 231: 78,
 232: 79,
 236: 80,
 237: 81,
 239: 82,
 243: 83,
 246: 84,
 255: 85,
 258: 86,
 263: 87,
 264: 88,
 271: 89,
 272: 90,
 273: 91,
 284: 92,
 294: 93,
 299: 94,
 300: 95,
 301: 96,
 302: 97,
 306: 98,
 307: 99,
 308: 100,
 310: 101,
 314: 102,
 325: 103,
 326: 104,
 329: 105,
 333: 106,
 337: 107,
 338: 108,
 340: 109,
 343: 110,
 346: 111,
 350: 112,
 351: 113,
 352: 114,
 355: 115,
 366: 116,
 368: 117,
 369: 118,
 372: 119,
 376: 120,
 378: 121,
 380: 122,
 385: 123,
 389: 124,
 392: 125,
 395: 126,
 402: 127,
 403: 128,
 411: 129,
 412: 130,
 413: 131,
 417: 132,
 418: 133,
 420: 134,
 424: 135,
 425: 136,
 428: 137,
 429: 138,
 434: 139,
 437: 140,
 438: 141,
 444: 142,
 451: 143,
 453: 144,
 456: 145,
 462: 146,
 463: 147,
 467: 148,
 474: 149,
 478: 150,
 479: 151,
 490: 152,
 495: 153,
 496: 154,
 499: 155,
 509: 156,
 516: 157,
 519: 158,
 523: 159,
 524: 160,
 528: 161,
 529: 162,
 531: 163,
 533: 164,
 536: 165,
 539: 166,
 541: 167,
 543: 168,
 546: 169,
 549: 170,
 550: 171,
 555: 172,
 556: 173,
 563: 174,
 566: 175,
 574: 176,
 575: 177,
 576: 178,
 577: 179,
 579: 180,
 583: 181,
 585: 182,
 588: 183,
 590: 184,
 595: 185,
 601: 186,
 605: 187,
 606: 188,
 610: 189,
 611: 190,
 613: 191,
 615: 192,
 620: 193,
 623: 194,
 624: 195,
 626: 196,
 628: 197,
 629: 198,
 630: 199,
 631: 200,
 634: 201,
 635: 202,
 637: 203,
 641: 204,
 645: 205,
 646: 206,
 653: 207,
 656: 208,
 660: 209,
 662: 210,
 664: 211,
 669: 212,
 676: 213,
 678: 214,
 681: 215,
 685: 216,
 690: 217,
 691: 218,
 692: 219,
 696: 220,
 697: 221,
 698: 222,
 699: 223,
 701: 224,
 702: 225,
 705: 226,
 707: 227,
 710: 228,
 712: 229,
 714: 230,
 715: 231,
 716: 232,
 718: 233,
 719: 234,
 721: 235,
 722: 236,
 726: 237,
 729: 238,
 731: 239,
 733: 240,
 735: 241,
 736: 242,
 737: 243,
 739: 244,
 743: 245,
 746: 246,
 749: 247,
 752: 248,
 753: 249,
 754: 250,
 755: 251,
 757: 252,
 761: 253,
 765: 254,
 770: 255,
 774: 256,
 776: 257,
 777: 258,
 780: 259,
 781: 260,
 783: 261,
 788: 262,
 791: 263,
 795: 264,
 798: 265,
 801: 266,
 802: 267,
 808: 268,
 809: 269,
 813: 270,
 816: 271,
 817: 272,
 822: 273,
 823: 274,
 832: 275,
 839: 276,
 840: 277,
 843: 278,
 844: 279,
 849: 280,
 851: 281,
 854: 282,
 855: 283,
 858: 284,
 865: 285,
 866: 286,
 869: 287,
 877: 288,
 880: 289,
 881: 290,
 885: 291,
 888: 292,
 889: 293,
 890: 294,
 891: 295,
 894: 296,
 895: 297,
 896: 298,
 899: 299,
 918: 300,
 924: 301,
 925: 302,
 926: 303,
 929: 304,
 931: 305,
 933: 306,
 934: 307,
 935: 308,
 936: 309,
 938: 310,
 940: 311,
 946: 312,
 948: 313,
 949: 314,
 951: 315,
 953: 316,
 954: 317,
 955: 318,
 956: 319,
 957: 320,
 963: 321,
 967: 322,
 973: 323,
 977: 324,
 979: 325,
 983: 326,
 984: 327,
 985: 328,
 990: 329,
 996: 330,
 997: 331,
 1000: 332,
 1001: 333,
 1004: 334,
 1008: 335,
 1014: 336,
 1015: 337,
 1017: 338,
 1021: 339,
 1029: 340,
 1032: 341,
 1036: 342,
 1044: 343,
 1045: 344,
 1050: 345,
 1051: 346,
 1054: 347,
 1055: 348,
 1056: 349,
 1057: 350,
 1059: 351,
 1061: 352,
 1062: 353,
 1063: 354,
 1068: 355,
 1072: 356,
 1074: 357,
 1076: 358,
 1077: 359,
 1084: 360,
 1086: 361,
 1087: 362,
 1088: 363,
 1094: 364,
 1096: 365,
 1097: 366,
 1101: 367,
 1107: 368,
 1112: 369,
 1116: 370,
 1117: 371,
 1120: 372,
 1124: 373,
 1125: 374,
 1132: 375,
 1137: 376,
 1140: 377,
 1141: 378,
 1142: 379,
 1145: 380,
 1151: 381,
 1155: 382,
 1158: 383,
 1164: 384,
 1177: 385,
 1179: 386,
 1181: 387,
 1182: 388,
 1183: 389,
 1184: 390,
 1193: 391,
 1196: 392,
 1198: 393,
 1202: 394,
 1203: 395,
 1207: 396,
 1211: 397,
 1215: 398,
 1220: 399,
 1221: 400,
 1223: 401,
 1224: 402,
 1228: 403,
 1230: 404,
 1231: 405,
 1239: 406,
 1242: 407,
 1243: 408,
 1246: 409,
 1252: 410,
 1253: 411,
 1260: 412,
 1263: 413,
 1264: 414,
 1265: 415,
 1266: 416,
 1271: 417,
 1272: 418,
 1273: 419,
 1274: 420,
 1276: 421,
 1280: 422,
 1283: 423,
 1284: 424,
 1285: 425,
 1287: 426,
 1291: 427,
 1294: 428,
 1296: 429,
 1297: 430,
 1298: 431,
 1299: 432,
 1301: 433,
 1303: 434,
 1306: 435,
 1312: 436,
 1317: 437,
 1322: 438,
 1325: 439,
 1329: 440,
 1332: 441,
 1335: 442,
 1336: 443,
 1340: 444,
 1343: 445,
 1344: 446,
 1345: 447,
 1347: 448,
 1348: 449,
 1350: 450,
 1353: 451,
 1354: 452,
 1359: 453,
 1361: 454,
 1367: 455,
 1380: 456,
 1381: 457,
 1383: 458,
 1387: 459,
 1389: 460,
 1390: 461,
 1391: 462,
 1395: 463,
 1400: 464,
 1404: 465,
 1407: 466,
 1413: 467,
 1415: 468,
 1421: 469,
 1422: 470,
 1425: 471,
 1426: 472,
 1427: 473,
 1433: 474,
 1447: 475,
 1448: 476,
 1449: 477,
 1450: 478,
 1451: 479,
 1457: 480,
 1458: 481,
 1464: 482,
 1466: 483,
 1476: 484,
 1481: 485,
 1484: 486,
 1491: 487,
 1493: 488,
 1495: 489,
 1496: 490,
 1499: 491,
 1501: 492,
 1502: 493,
 1507: 494,
 1516: 495,
 1517: 496,
 1525: 497,
 1530: 498,
 1532: 499,
 1538: 500,
 1542: 501,
 1543: 502,
 1545: 503,
 1546: 504,
 1552: 505,
 1555: 506,
 1556: 507,
 1565: 508,
 1568: 509,
 1574: 510,
 1579: 511,
 1581: 512,
 1584: 513,
 1586: 514,
 1587: 515,
 1588: 516,
 1592: 517,
 1593: 518,
 1594: 519,
 1597: 520,
 1599: 521,
 1601: 522,
 1605: 523,
 1609: 524,
 1611: 525,
 1613: 526,
 1616: 527,
 1618: 528,
 1628: 529,
 1632: 530,
 1634: 531,
 1635: 532,
 1639: 533,
 1647: 534,
 1650: 535,
 1655: 536,
 1657: 537,
 1658: 538,
 1664: 539,
 1666: 540,
 1669: 541,
 1671: 542,
 1672: 543,
 1673: 544,
 1674: 545,
 1675: 546,
 1676: 547,
 1678: 548,
 1680: 549,
 1684: 550,
 1687: 551,
 1688: 552,
 1694: 553,
 1695: 554,
 1697: 555,
 1705: 556,
 1706: 557,
 1709: 558,
 1712: 559,
 1714: 560,
 1716: 561,
 1721: 562,
 1724: 563,
 1727: 564,
 1728: 565,
 1733: 566,
 1737: 567,
 1743: 568,
 1746: 569,
 1752: 570,
 1755: 571,
 1757: 572,
 1758: 573,
 1759: 574,
 1764: 575,
 1765: 576,
 1767: 577,
 1773: 578,
 1778: 579,
 1779: 580,
 1780: 581,
 1790: 582,
 1791: 583,
 1793: 584,
 1800: 585,
 1803: 586,
 1805: 587,
 1806: 588,
 1807: 589,
 1818: 590,
 1820: 591,
 1823: 592,
 1825: 593,
 1826: 594,
 1834: 595,
 1835: 596,
 1836: 597,
 1841: 598,
 1842: 599,
 1850: 600,
 1853: 601,
 1857: 602,
 1858: 603,
 1860: 604,
 1861: 605,
 1865: 606,
 1866: 607,
 1867: 608,
 1869: 609,
 1870: 610,
 1871: 611,
 1873: 612,
 1875: 613,
 1879: 614,
 1880: 615,
 1881: 616,
 1882: 617,
 1883: 618,
 1884: 619,
 1885: 620,
 1890: 621,
 1897: 622,
 1899: 623,
 1901: 624,
 1903: 625,
 1904: 626,
 1908: 627,
 1911: 628,
 1912: 629,
 1913: 630,
 1914: 631,
 1916: 632,
 1917: 633,
 1918: 634,
 1920: 635,
 1922: 636,
 1924: 637,
 1926: 638,
 1928: 639,
 1930: 640,
 1938: 641,
 1940: 642,
 1941: 643,
 1943: 644,
 1949: 645,
 1950: 646,
 1951: 647,
 1954: 648,
 1956: 649,
 1958: 650,
 1960: 651,
 1962: 652,
 1968: 653,
 1969: 654,
 1972: 655,
 1974: 656,
 1975: 657,
 1976: 658,
 1978: 659,
 1980: 660,
 1983: 661,
 1987: 662,
 1988: 663,
 1991: 664,
 1992: 665,
 1993: 666,
 1995: 667,
 1996: 668,
 1997: 669,
 1998: 670,
 1999: 671,
 2000: 672,
 2002: 673,
 2003: 674,
 2010: 675,
 2011: 676,
 2012: 677,
 2016: 678,
 2020: 679,
 2022: 680,
 2023: 681,
 2027: 682,
 2029: 683,
 2030: 684,
 2035: 685,
 2041: 686,
 2042: 687,
 2046: 688,
 2047: 689,
 2054: 690,
 2060: 691,
 2063: 692,
 2065: 693,
 2068: 694,
 2070: 695,
 2071: 696,
 2073: 697,
 2077: 698,
 2078: 699,
 2083: 700,
 2084: 701,
 2085: 702,
 2092: 703,
 2096: 704,
 2097: 705,
 2098: 706,
 2100: 707,
 2102: 708,
 2105: 709,
 2106: 710,
 2108: 711,
 2109: 712,
 2110: 713,
 2112: 714,
 2115: 715,
 2116: 716,
 2120: 717,
 2125: 718,
 2134: 719,
 2135: 720,
 2136: 721,
 2142: 722,
 2145: 723,
 2147: 724,
 2148: 725,
 2153: 726,
 2154: 727,
 2156: 728,
 2162: 729,
 2164: 730,
 2165: 731,
 2166: 732,
 2168: 733,
 2171: 734,
 2173: 735,
 2177: 736,
 2178: 737,
 2180: 738,
 2181: 739,
 2185: 740,
 2188: 741,
 2198: 742,
 2202: 743,
 2206: 744,
 2211: 745,
 2214: 746,
 2223: 747,
 2224: 748,
 2225: 749,
 2229: 750,
 2233: 751,
 2236: 752,
 2239: 753,
 2242: 754,
 2244: 755,
 2255: 756,
 2258: 757,
 2259: 758,
 2260: 759,
 2262: 760,
 2263: 761,
 2271: 762,
 2288: 763,
 2290: 764,
 2300: 765,
 2304: 766,
 2305: 767,
 2310: 768,
 2321: 769,
 2323: 770,
 2337: 771,
 2344: 772,
 2350: 773,
 2355: 774,
 2367: 775,
 2371: 776,
 2374: 777,
 2378: 778,
 2379: 779,
 2380: 780,
 2383: 781,
 2386: 782,
 2395: 783,
 2398: 784,
 2403: 785,
 2407: 786,
 2411: 787,
 2414: 788,
 2418: 789,
 2424: 790,
 2427: 791,
 2435: 792,
 2436: 793,
 2444: 794,
 2446: 795,
 2448: 796,
 2454: 797,
 2456: 798,
 2457: 799,
 2458: 800,
 2459: 801,
 2462: 802,
 2468: 803,
 2478: 804,
 2484: 805,
 2485: 806,
 2489: 807,
 2496: 808,
 2501: 809,
 2507: 810,
 2510: 811,
 2516: 812,
 2529: 813,
 2533: 814,
 2537: 815,
 2541: 816,
 2544: 817,
 2555: 818,
 2559: 819,
 2562: 820,
 2564: 821,
 2565: 822,
 2566: 823,
 2567: 824,
 2572: 825,
 2574: 826,
 2576: 827,
 2579: 828,
 2581: 829,
 2583: 830,
 2585: 831,
 2591: 832,
 2593: 833,
 2595: 834,
 2599: 835,
 2604: 836,
 2611: 837,
 2617: 838,
 2619: 839,
 2624: 840,
 2627: 841,
 2634: 842,
 2636: 843,
 2638: 844,
 2639: 845,
 2641: 846,
 2645: 847,
 2648: 848,
 2652: 849,
 2658: 850,
 2660: 851,
 2661: 852,
 2664: 853,
 2665: 854,
 2666: 855,
 2676: 856,
 2679: 857,
 2681: 858,
 2682: 859,
 2683: 860,
 2688: 861,
 2689: 862,
 2691: 863,
 2692: 864,
 2698: 865,
 2699: 866,
 2718: 867,
 2723: 868,
 2724: 869,
 2730: 870,
 2731: 871,
 2737: 872,
 2742: 873,
 2747: 874,
 2748: 875,
 2750: 876,
 2752: 877,
 2753: 878,
 2754: 879,
 2756: 880,
 2761: 881,
 2764: 882,
 2765: 883,
 2766: 884,
 2768: 885,
 2771: 886,
 2778: 887,
 2779: 888,
 2782: 889,
 2787: 890,
 2788: 891,
 2792: 892,
 2796: 893,
 2799: 894,
 2807: 895,
 2809: 896,
 2810: 897,
 2812: 898,
 2817: 899,
 2818: 900,
 2824: 901,
 2831: 902,
 2837: 903,
 2839: 904,
 2840: 905,
 2848: 906,
 2849: 907,
 2853: 908,
 2858: 909,
 2859: 910,
 2862: 911,
 2863: 912,
 2872: 913,
 2873: 914,
 2874: 915,
 2878: 916,
 2880: 917,
 2885: 918,
 2887: 919,
 2889: 920,
 2895: 921,
 2896: 922,
 2900: 923,
 2902: 924,
 2903: 925,
 2905: 926,
 2907: 927,
 2909: 928,
 2913: 929,
 2915: 930,
 2924: 931,
 2926: 932,
 2928: 933,
 2931: 934,
 2933: 935,
 2934: 936,
 2936: 937,
 2938: 938,
 2939: 939,
 2941: 940,
 2950: 941,
 2951: 942,
 2955: 943,
 2966: 944,
 2967: 945,
 2968: 946,
 2970: 947,
 2972: 948,
 2979: 949,
 2980: 950,
 2985: 951,
 2987: 952,
 2989: 953,
 2994: 954,
 2995: 955,
 2996: 956,
 2999: 957,
 3001: 958,
 3002: 959,
 3004: 960,
 3006: 961,
 3007: 962,
 3012: 963,
 3013: 964,
 3014: 965,
 3017: 966,
 3018: 967,
 3025: 968,
 3028: 969,
 3031: 970,
 3032: 971,
 3033: 972,
 3036: 973,
 3041: 974,
 3048: 975,
 3051: 976,
 3054: 977,
 3056: 978,
 3057: 979,
 3058: 980,
 3065: 981,
 3066: 982,
 3067: 983,
 3073: 984,
 3074: 985,
 3075: 986,
 3077: 987,
 3081: 988,
 3087: 989,
 3090: 990,
 3095: 991,
 3098: 992,
 3101: 993,
 3108: 994,
 3110: 995,
 3113: 996,
 3118: 997,
 3125: 998,
 3130: 999,
 ...}

In [82]:
mark, back = user_to_idx["mark"], movie_to_idx["back to the future (1985)"]
mark_vector, back_vector = als_model.user_factors[mark], als_model.item_factors[back]

print('ok')

ok

In [71]:
ratings["movie_id"]

0          1193
1           661
2           914
3          3408
4          2355
           ...
1000203    1090
1000205    1094
1000206     562
1000207    1096
1000208    1097
Name: movie_id, Length: 836478, dtype: int64

In [83]:
mark_vector

array([-0.20402776,  0.35441157,  0.11517321, -0.11834556,  0.469708  ,
        0.27198645, -0.3632108 , -0.20985596, -0.28338996,  0.14994308,
       -0.13141477, -0.21432674, -0.32655966,  0.28788188,  0.05750332,
        0.23865278, -0.0522103 , -0.04354713,  0.19802675,  0.5884114 ,
        0.21012738,  0.18165445,  0.16394185, -0.00969   ,  0.278664  ,
        0.21727538, -0.44156912,  1.0945783 , -0.5895277 , -0.24013339,
        0.3081131 ,  0.1717963 , -0.04892254, -0.52303636, -0.16963632,
       -0.40091747,  0.1939747 , -0.06100151,  0.00355992,  0.23675996,
       -0.43130755, -0.12747768, -0.6565207 , -0.29046538, -0.46380895,
        0.08700936,  0.46830443, -0.3994231 , -0.4504686 , -0.7811763 ,
       -0.16528873, -0.456504  , -0.013855  ,  0.5375522 ,  0.16144267,
        0.25797293,  0.5044562 ,  0.4011035 ,  0.02124517,  0.49506208,
       -0.3443978 ,  0.01906   , -0.00123959, -0.36321434,  0.03091359,
       -0.33493894, -0.11371259, -0.14291479,  0.06329892, -0.1950589 ,
        0.6007285 , -0.18248819,  0.14919831,  0.84401053,  0.37642702,
        0.32257593,  0.5829512 , -0.5224955 , -0.07050397, -0.15036872,
        0.7324036 , -0.3264519 ,  0.45982194,  0.51073176, -0.13000134,
        0.3049995 ,  0.00907493, -0.4776989 , -0.5904461 ,  0.38430834,
        0.17822993, -0.04402409, -0.5124582 ,  0.01189769,  0.16639858,
        0.975711  ,  0.02698884,  0.20253085, -0.75501883, -0.09141564],
      dtype=float32)

In [84]:
back_vector

array([ 0.05894007,  0.02158402,  0.02659549,  0.02611112,  0.01210134,
        0.00980826, -0.04364069,  0.0209657 ,  0.02291127, -0.00879224,
       -0.02807744,  0.05038571,  0.06115401, -0.00580889,  0.02392456,
        0.03234718, -0.0063908 , -0.01425224, -0.01040888,  0.05360923,
       -0.01691352, -0.02163956,  0.02112262, -0.01374606,  0.01135045,
       -0.03175968, -0.00159417, -0.01118893, -0.00060638,  0.00758023,
       -0.01383123, -0.02929982, -0.00849471, -0.0077379 , -0.00231195,
        0.00837846, -0.01401641, -0.02012823,  0.02239113,  0.03227199,
        0.00029587,  0.0528164 , -0.04627914, -0.00123285,  0.02375609,
        0.02141801,  0.03314656, -0.0090758 ,  0.04047224, -0.02717731,
        0.02986938, -0.01640154,  0.00765953,  0.02358654, -0.03567661,
        0.0084885 , -0.00221786,  0.01154561,  0.02745018,  0.03266109,
        0.04493846,  0.00300044,  0.06204552, -0.01319351, -0.01935079,
        0.03005001,  0.03444051, -0.01866753,  0.0527927 ,  0.01241734,
       -0.00335096, -0.02937621,  0.00495791,  0.01349335,  0.01977072,
        0.0224632 , -0.0054503 ,  0.05172731,  0.01092374, -0.01183075,
        0.00630903, -0.05044888, -0.01988624, -0.00737002, -0.01320166,
        0.0002744 ,  0.06325071,  0.04803814, -0.02284406,  0.04459201,
        0.04180365, -0.0226243 ,  0.00565767,  0.01400314, -0.03881965,
       -0.05192357,  0.0233613 ,  0.00170693,  0.01264018, -0.00585161],
      dtype=float32)

In [85]:
# mark와 back 내적하는 코드
np.dot(mark_vector, back_vector)

0.0029228665

In [75]:
print(ratings["movie_id"][1193])

2043

In [86]:
# 모델이 영화 Tarzan (1999) 선호도를 어떻게 예측할지 확인
tarzan = movie_to_idx["tarzan (1999)"]
tarzan_vector = als_model.item_factors[tarzan]
np.dot(mark_vector, tarzan_vector)

0.24700162

In [77]:
print(movie_to_idx["tarzan (1999)"])

2434

In [87]:
# 모델이 영화 mulan (1998) 선호도를 어떻게 예측할지 확인
mulan = movie_to_idx["mulan (1998)"]
mulan_vector = als_model.item_factors[mulan]
np.dot(mark_vector, mulan_vector)

0.24535307

# 6) 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악해 보세요.
# 7) 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다.
# 8) 내가 가장 좋아할 만한 영화들을 추천받아 봅시다.

In [43]:
# 내가 선호하는 5가지 중 1개
favorite_movie = 'toy story (1995)'
title = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(title, N=15)
similar_movie

[(0, 1.0000002),
 (2845, 0.82482404),
 (2114, 0.6216961),
 (33, 0.58509606),
 (568, 0.5733073),
 (1147, 0.5265186),
 (350, 0.47692236),
 (2081, 0.457543),
 (575, 0.44452482),
 (1705, 0.42387623),
 (1409, 0.38020653),
 (1689, 0.36573553),
 (2434, 0.35766506),
 (2155, 0.35478106),
 (2143, 0.34245428)]

In [44]:
# (아티스트의 id, 유사도)를 Tuple로 반환하고 있음.  
# 아티스트의 id를 다시 아티스트의 이름으로 매핑 시켜줌
# artist_to_idx 를 뒤짚어, index로부터 artist이름을 얻는 dict 생성
idx_to_movie = {v:k for k,v in movie_to_idx.items()} # items()키, 밸류 쌍으로 얻기
[idx_to_movie[i[0]] for i in similar_movie]

['toy story (1995)',
 'toy story 2 (1999)',
 "bug's life, a (1998)",
 'babe (1995)',
 'aladdin (1992)',
 'groundhog day (1993)',
 'lion king, the (1994)',
 'pleasantville (1998)',
 'beauty and the beast (1991)',
 "there's something about mary (1998)",
 'hercules (1997)',
 'mulan (1998)',
 'tarzan (1999)',
 'shakespeare in love (1998)',
 'babe: pig in the city (1998)']

In [45]:
movie_to_idx

{'toy story (1995)': 0,
 'jumanji (1995)': 1,
 'grumpier old men (1995)': 2,
 'waiting to exhale (1995)': 3,
 'father of the bride part ii (1995)': 4,
 'heat (1995)': 5,
 'sabrina (1995)': 6,
 'tom and huck (1995)': 7,
 'sudden death (1995)': 8,
 'goldeneye (1995)': 9,
 'american president, the (1995)': 10,
 'dracula: dead and loving it (1995)': 11,
 'balto (1995)': 12,
 'nixon (1995)': 13,
 'cutthroat island (1995)': 14,
 'casino (1995)': 15,
 'sense and sensibility (1995)': 16,
 'four rooms (1995)': 17,
 'ace ventura: when nature calls (1995)': 18,
 'money train (1995)': 19,
 'get shorty (1995)': 20,
 'copycat (1995)': 21,
 'assassins (1995)': 22,
 'powder (1995)': 23,
 'leaving las vegas (1995)': 24,
 'othello (1995)': 25,
 'now and then (1995)': 26,
 'persuasion (1995)': 27,
 'city of lost children, the (1995)': 28,
 'shanghai triad (yao a yao yao dao waipo qiao) (1995)': 29,
 'dangerous minds (1995)': 30,
 'twelve monkeys (1995)': 31,
 'wings of courage (1995)': 32,
 'babe (1995)': 33,
 'carrington (1995)': 34,
 'dead man walking (1995)': 35,
 'across the sea of time (1995)': 36,
 'it takes two (1995)': 37,
 'clueless (1995)': 38,
 'cry, the beloved country (1995)': 39,
 'richard iii (1995)': 40,
 'dead presidents (1995)': 41,
 'restoration (1995)': 42,
 'mortal kombat (1995)': 43,
 'to die for (1995)': 44,
 'how to make an american quilt (1995)': 45,
 'seven (se7en) (1995)': 46,
 'pocahontas (1995)': 47,
 'when night is falling (1995)': 48,
 'usual suspects, the (1995)': 49,
 'mighty aphrodite (1995)': 50,
 'lamerica (1994)': 51,
 'big green, the (1995)': 52,
 'georgia (1995)': 53,
 'kids of the round table (1995)': 54,
 'home for the holidays (1995)': 55,
 'postino, il (the postman) (1994)': 56,
 'confessional, the (le confessionnal) (1995)': 57,
 'indian in the cupboard, the (1995)': 58,
 'eye for an eye (1996)': 59,
 "mr. holland's opus (1995)": 60,
 "don't be a menace to south central while drinking your juice in the hood (1996)": 61,
 'two if by sea (1996)': 62,
 'bio-dome (1996)': 63,
 'lawnmower man 2: beyond cyberspace (1996)': 64,
 'two bits (1995)': 65,
 'french twist (gazon maudit) (1995)': 66,
 'friday (1995)': 67,
 'from dusk till dawn (1996)': 68,
 'fair game (1995)': 69,
 'kicking and screaming (1995)': 70,
 'misérables, les (1995)': 71,
 'bed of roses (1996)': 72,
 'big bully (1996)': 73,
 'screamers (1995)': 74,
 'nico icon (1995)': 75,
 'crossing guard, the (1995)': 76,
 'juror, the (1996)': 77,
 'white balloon, the (badkonake sefid ) (1995)': 78,
 "things to do in denver when you're dead (1995)": 79,
 "antonia's line (antonia) (1995)": 80,
 'once upon a time... when we were colored (1995)': 81,
 'last summer in the hamptons (1995)': 82,
 'angels and insects (1995)': 83,
 'white squall (1996)': 84,
 'dunston checks in (1996)': 85,
 'black sheep (1996)': 86,
 'nick of time (1995)': 87,
 'journey of august king, the (1995)': 88,
 'mary reilly (1996)': 89,
 'vampire in brooklyn (1995)': 90,
 'beautiful girls (1996)': 91,
 'broken arrow (1996)': 92,
 'in the bleak midwinter (1995)': 93,
 'hate (haine, la) (1995)': 94,
 'shopping (1994)': 95,
 'heidi fleiss: hollywood madam (1995)': 96,
 'city hall (1996)': 97,
 'bottle rocket (1996)': 98,
 'mr. wrong (1996)': 99,
 'unforgettable (1996)': 100,
 'happy gilmore (1996)': 101,
 'bridges of madison county, the (1995)': 102,
 'nobody loves me (keiner liebt mich) (1994)': 103,
 'muppet treasure island (1996)': 104,
 'catwalk (1995)': 105,
 'braveheart (1995)': 106,
 'taxi driver (1976)': 107,
 'rumble in the bronx (1995)': 108,
 'before and after (1996)': 109,
 "margaret's museum (1995)": 110,
 'anne frank remembered (1995)': 111,
 "young poisoner's handbook, the (1995)": 112,
 'if lucy fell (1996)': 113,
 'steal big, steal little (1995)': 114,
 'race the sun (1996)': 115,
 'boys of st. vincent, the (1993)': 116,
 'boomerang (1992)': 117,
 'chungking express (1994)': 118,
 "star maker, the (uomo delle stelle, l') (1995)": 119,
 'flirting with disaster (1996)': 120,
 'neverending story iii, the (1994)': 121,
 "jupiter's wife (1994)": 122,
 'pie in the sky (1995)': 123,
 'angela (1995)': 124,
 'frankie starlight (1995)': 125,
 'jade (1995)': 126,
 'sonic outlaws (1995)': 127,
 'down periscope (1996)': 128,
 'from the journals of jean seberg (1995)': 129,
 'man of the year (1995)': 130,
 'neon bible, the (1995)': 131,
 'target (1995)': 132,
 'up close and personal (1996)': 133,
 'birdcage, the (1996)': 134,
 'brothers mcmullen, the (1995)': 135,
 'bad boys (1995)': 136,
 'amazing panda adventure, the (1995)': 137,
 'basketball diaries, the (1995)': 138,
 'awfully big adventure, an (1995)': 139,
 'amateur (1994)': 140,
 'apollo 13 (1995)': 141,
 'rob roy (1995)': 142,
 'addiction, the (1995)': 143,
 'batman forever (1995)': 144,
 'belle de jour (1967)': 145,
 'beyond rangoon (1995)': 146,
 'blue in the face (1995)': 147,
 'canadian bacon (1994)': 148,
 'casper (1995)': 149,
 'clockers (1995)': 150,
 'congo (1995)': 151,
 'crimson tide (1995)': 152,
 'crumb (1994)': 153,
 'desperado (1995)': 154,
 'devil in a blue dress (1995)': 155,
 'die hard: with a vengeance (1995)': 156,
 'doom generation, the (1995)': 157,
 'feast of july (1995)': 158,
 'first knight (1995)': 159,
 'free willy 2: the adventure home (1995)': 160,
 'hackers (1995)': 161,
 'jeffrey (1995)': 162,
 'johnny mnemonic (1995)': 163,
 'judge dredd (1995)': 164,
 'jury duty (1995)': 165,
 'kids (1995)': 166,
 'living in oblivion (1995)': 167,
 'lord of illusions (1995)': 168,
 'love & human remains (1993)': 169,
 'mad love (1995)': 170,
 'mallrats (1995)': 171,
 'mighty morphin power rangers: the movie (1995)': 172,
 'moonlight and valentino (1995)': 173,
 'mute witness (1994)': 174,
 'nadja (1994)': 175,
 'net, the (1995)': 176,
 'nine months (1995)': 177,
 'party girl (1995)': 178,
 'prophecy, the (1995)': 179,
 'reckless (1995)': 180,
 'safe (1995)': 181,
 'scarlet letter, the (1995)': 182,
 'show, the (1995)': 183,
 'showgirls (1995)': 184,
 'smoke (1995)': 185,
 'something to talk about (1995)': 186,
 'species (1995)': 187,
 'stars fell on henrietta, the (1995)': 188,
 'strange days (1995)': 189,
 'umbrellas of cherbourg, the (parapluies de cherbourg, les) (1964)': 190,
 'tie that binds, the (1995)': 191,
 'three wishes (1995)': 192,
 'total eclipse (1995)': 193,
 'to wong foo, thanks for everything! julie newmar (1995)': 194,
 'under siege 2: dark territory (1995)': 195,
 'unstrung heroes (1995)': 196,
 'unzipped (1995)': 197,
 'walk in the clouds, a (1995)': 198,
 'waterworld (1995)': 199,
 "white man's burden (1995)": 200,
 'wild bill (1995)': 201,
 'browning version, the (1994)': 202,
 'bushwhacked (1995)': 203,
 'burnt by the sun (utomlyonnye solntsem) (1994)': 204,
 'before the rain (pred dozhdot) (1994)': 205,
 'before sunrise (1995)': 206,
 'billy madison (1995)': 207,
 'babysitter, the (1995)': 208,
 'boys on the side (1995)': 209,
 'cure, the (1995)': 210,
 'castle freak (1995)': 211,
 'circle of friends (1995)': 212,
 'clerks (1994)': 213,
 'don juan demarco (1995)': 214,
 'disclosure (1994)': 215,
 'drop zone (1994)': 216,
 'destiny turns on the radio (1995)': 217,
 'death and the maiden (1994)': 218,
 'dolores claiborne (1994)': 219,
 'dumb & dumber (1994)': 220,
 'eat drink man woman (1994)': 221,
 'exotica (1994)': 222,
 'exit to eden (1994)': 223,
 'ed wood (1994)': 224,
 'french kiss (1995)': 225,
 'forget paris (1995)': 226,
 'far from home: the adventures of yellow dog (1995)': 227,
 'goofy movie, a (1995)': 228,
 'hideaway (1995)': 229,
 'fluke (1995)': 230,
 'farinelli: il castrato (1994)': 231,
 'gordy (1995)': 232,
 'gumby: the movie (1995)': 233,
 'glass shield, the (1994)': 234,
 'hoop dreams (1994)': 235,
 'heavenly creatures (1994)': 236,
 'houseguest (1994)': 237,
 'immortal beloved (1994)': 238,
 'heavyweights (1994)': 239,
 'hunted, the (1995)': 240,
 'i.q. (1994)': 241,
 'interview with the vampire (1994)': 242,
 'jefferson in paris (1995)': 243,
 'jerky boys, the (1994)': 244,
 'junior (1994)': 245,
 'just cause (1995)': 246,
 "kid in king arthur's court, a (1995)": 247,
 'kiss of death (1995)': 248,
 'star wars: episode iv - a new hope (1977)': 249,
 'little women (1994)': 250,
 'little princess, a (1995)': 251,
 'ladybird ladybird (1994)': 252,
 "enfer, l' (1994)": 253,
 'like water for chocolate (como agua para chocolate) (1992)': 254,
 'legends of the fall (1994)': 255,
 'major payne (1994)': 256,
 'little odessa (1994)': 257,
 'my crazy life (mi vida loca) (1993)': 258,
 'love affair (1994)': 259,
 'losing isaiah (1995)': 260,
 'madness of king george, the (1994)': 261,
 "mary shelley's frankenstein (1994)": 262,
 'man of the house (1995)': 263,
 'mixed nuts (1994)': 264,
 'milk money (1994)': 265,
 'miracle on 34th street (1994)': 266,
 'miami rhapsody (1995)': 267,
 'my family (1995)': 268,
 'murder in the first (1995)': 269,
 "nobody's fool (1994)": 270,
 'nell (1994)': 271,
 'new jersey drive (1995)': 272,
 'nemesis 2: nebula (1995)': 273,
 'nina takes a lover (1994)': 274,
 'natural born killers (1994)': 275,
 'only you (1994)': 276,
 'once were warriors (1994)': 277,
 'poison ivy ii (1995)': 278,
 'outbreak (1995)': 279,
 'professional, the (a.k.a. leon: the professional) (1994)': 280,
 'perez family, the (1995)': 281,
 "pyromaniac's love story, a (1995)": 282,
 'pulp fiction (1994)': 283,
 'panther (1995)': 284,
 'pushing hands (1992)': 285,
 'priest (1994)': 286,
 'quiz show (1994)': 287,
 'picture bride (1995)': 288,
 'queen margot (la reine margot) (1994)': 289,
 'quick and the dead, the (1995)': 290,
 'roommates (1995)': 291,
 'ready to wear (pret-a-porter) (1994)': 292,
 'three colors: red (1994)': 293,
 'three colors: blue (1993)': 294,
 'three colors: white (1994)': 295,
 'red firecracker, green firecracker (1994)': 296,
 'rent-a-kid (1995)': 297,
 'relative fear (1994)': 298,
 'stuart saves his family (1995)': 299,
 'swan princess, the (1994)': 300,
 'secret of roan inish, the (1994)': 301,
 'specialist, the (1994)': 302,
 'stargate (1994)': 303,
 'santa clause, the (1994)': 304,
 'shawshank redemption, the (1994)': 305,
 'shallow grave (1994)': 306,
 'suture (1993)': 307,
 'strawberry and chocolate (fresa y chocolate) (1993)': 308,
 'swimming with sharks (1995)': 309,
 'sum of us, the (1994)': 310,
 "national lampoon's senior trip (1995)": 311,
 'to live (huozhe) (1994)': 312,
 'tank girl (1995)': 313,
 'tales from the crypt presents: demon knight (1995)': 314,
 'star trek: generations (1994)': 315,
 'tales from the hood (1995)': 316,
 'tom & viv (1994)': 317,
 'village of the damned (1995)': 318,
 'tommy boy (1995)': 319,
 'vanya on 42nd street (1994)': 320,
 'underneath, the (1995)': 321,
 'walking dead, the (1995)': 322,
 "what's eating gilbert grape (1993)": 323,
 'virtuosity (1995)': 324,
 'while you were sleeping (1995)': 325,
 'war, the (1994)': 326,
 'double happiness (1994)': 327,
 "muriel's wedding (1994)": 328,
 'baby-sitters club, the (1995)': 329,
 'ace ventura: pet detective (1994)': 330,
 'adventures of priscilla, queen of the desert, the (1994)': 331,
 'backbeat (1993)': 332,
 'bitter moon (1992)': 333,
 'bullets over broadway (1994)': 334,
 'clear and present danger (1994)': 335,
 'client, the (1994)': 336,
 'corrina, corrina (1994)': 337,
 'crooklyn (1994)': 338,
 'crow, the (1994)': 339,
 'cobb (1994)': 340,
 'flintstones, the (1994)': 341,
 'forrest gump (1994)': 342,
 'four weddings and a funeral (1994)': 343,
 'higher learning (1995)': 344,
 'i like it like that (1994)': 345,
 'i love trouble (1994)': 346,
 'it could happen to you (1994)': 347,
 'jungle book, the (1994)': 348,
 'wonderful, horrible life of leni riefenstahl, the (die macht der bilder) (1993)': 349,
 'lion king, the (1994)': 350,
 'little buddha (1993)': 351,
 "wes craven's new nightmare (1994)": 352,
 'mask, the (1994)': 353,
 'maverick (1994)': 354,
 'mrs. parker and the vicious circle (1994)': 355,
 'naked gun 33 1/3: the final insult (1994)': 356,
 'paper, the (1994)': 357,
 'reality bites (1994)': 358,
 'red rock west (1992)': 359,
 'richie rich (1994)': 360,
 'safe passage (1994)': 361,
 'river wild, the (1994)': 362,
 'speed (1994)': 363,
 'speechless (1994)': 364,
 'timecop (1994)': 365,
 'true lies (1994)': 366,
 'when a man loves a woman (1994)': 367,
 'wolf (1994)': 368,
 'wyatt earp (1994)': 369,
 'bad company (1995)': 370,
 'man of no importance, a (1994)': 371,
 's.f.w. (1994)': 372,
 'low down dirty shame, a (1994)': 373,
 'boys life (1995)': 374,
 'colonel chabert, le (1994)': 375,
 'faster pussycat! kill! kill! (1965)': 376,
 "jason's lyric (1994)": 377,
 'secret adventures of tom thumb, the (1993)': 378,
 'street fighter (1994)': 379,
 'coldblooded (1995)': 380,
 'fall time (1995)': 381,
 'fear, the (1995)': 382,
 'frank and ollie (1995)': 383,
 'mirage (1995)': 384,
 'open season (1996)': 385,
 'brother minister: the assassination of malcolm x (1994)': 386,
 'highlander iii: the sorcerer (1994)': 387,
 'federal hill (1994)': 388,
 'in the mouth of madness (1995)': 389,
 '8 seconds (1994)': 390,
 'above the rim (1994)': 391,
 'addams family values (1993)': 392,
 'you so crazy (1994)': 393,
 'age of innocence, the (1993)': 394,
 'airheads (1994)': 395,
 'air up there, the (1994)': 396,
 'another stakeout (1993)': 397,
 'bad girls (1994)': 398,
 'barcelona (1994)': 399,
 'being human (1993)': 400,
 'beverly hillbillies, the (1993)': 401,
 'beverly hills cop iii (1994)': 402,
 'black beauty (1994)': 403,
 'blink (1994)': 404,
 'blown away (1994)': 405,
 'blue chips (1994)': 406,
 'blue sky (1994)': 407,
 'body snatchers (1993)': 408,
 'boxing helena (1993)': 409,
 'bronx tale, a (1993)': 410,
 'cabin boy (1994)': 411,
 'calendar girl (1993)': 412,
 "carlito's way (1993)": 413,
 "city slickers ii: the legend of curly's gold (1994)": 414,
 'clean slate (1994)': 415,
 'cliffhanger (1993)': 416,
 'coneheads (1993)': 417,
 'color of night (1994)': 418,
 'cops and robbersons (1994)': 419,
 'cowboy way, the (1994)': 420,
 'dangerous game (1993)': 421,
 'dave (1993)': 422,
 'dazed and confused (1993)': 423,
 'demolition man (1993)': 424,
 'endless summer 2, the (1994)': 425,
 'even cowgirls get the blues (1993)': 426,
 'fatal instinct (1993)': 427,
 'farewell my concubine (1993)': 428,
 'favor, the (1994)': 429,
 'fearless (1993)': 430,
 'fear of a black hat (1993)': 431,
 'with honors (1994)': 432,
 'flesh and bone (1993)': 433,
 "widows' peak (1994)": 434,
 'for love or money (1993)': 435,
 'firm, the (1993)': 436,
 'free willy (1993)': 437,
 'fresh (1994)': 438,
 'fugitive, the (1993)': 439,
 'geronimo: an american legend (1993)': 440,
 'getaway, the (1994)': 441,
 'getting even with dad (1994)': 442,
 'go fish (1994)': 443,
 'good man in africa, a (1994)': 444,
 'guilty as sin (1993)': 445,
 'hard target (1993)': 446,
 'heaven & earth (1993)': 447,
 'hot shots! part deux (1993)': 448,
 'live nude girls (1995)': 449,
 'englishman who went up a hill, but came down a mountain, the (1995)': 450,
 'house of the spirits, the (1993)': 451,
 'house party 3 (1994)': 452,
 'hudsucker proxy, the (1994)': 453,
 "i'll do anything (1994)": 454,
 'in the army now (1994)': 455,
 'in the line of fire (1993)': 456,
 'in the name of the father (1993)': 457,
 'inkwell, the (1994)': 458,
 "what's love got to do with it? (1993)": 459,
 'jimmy hollywood (1994)': 460,
 'judgment night (1993)': 461,
 'jurassic park (1993)': 462,
 'kalifornia (1993)': 463,
 'killing zoe (1994)': 464,
 'king of the hill (1993)': 465,
 'lassie (1994)': 466,
 'last action hero (1993)': 467,
 'life with mikey (1993)': 468,
 'lightning jack (1994)': 469,
 'm. butterfly (1993)': 470,
 'made in america (1993)': 471,
 'malice (1993)': 472,
 'man without a face, the (1993)': 473,
 'manhattan murder mystery (1993)': 474,
 'menace ii society (1993)': 475,
 'executive decision (1996)': 476,
 'in the realm of the senses (ai no corrida) (1976)': 477,
 'what happened was... (1994)': 478,
 'much ado about nothing (1993)': 479,
 'mr. jones (1993)': 480,
 'mr. wonderful (1993)': 481,
 'mrs. doubtfire (1993)': 482,
 'naked (1993)': 483,
 'next karate kid, the (1994)': 484,
 'new age, the (1994)': 485,
 'no escape (1994)': 486,
 'north (1994)': 487,
 'orlando (1993)': 488,
 'perfect world, a (1993)': 489,
 'philadelphia (1993)': 490,
 'piano, the (1993)': 491,
 'poetic justice (1993)': 492,
 'program, the (1993)': 493,
 "robert a. heinlein's the puppet masters (1994)": 494,
 'radioland murders (1994)': 495,
 'ref, the (1994)': 496,
 'remains of the day, the (1993)': 497,
 'renaissance man (1994)': 498,
 'rising sun (1993)': 499,
 'road to wellville, the (1994)': 500,
 'robocop 3 (1993)': 501,
 'robin hood: men in tights (1993)': 502,
 'romeo is bleeding (1993)': 503,
 'romper stomper (1992)': 504,
 'ruby in paradise (1993)': 505,
 'rudy (1993)': 506,
 'saint of fort washington, the (1993)': 507,
 'savage nights (nuits fauves, les) (1992)': 508,
 "schindler's list (1993)": 509,
 'scout, the (1994)': 510,
 'searching for bobby fischer (1993)': 511,
 'second best (1994)': 512,
 'secret garden, the (1993)': 513,
 'serial mom (1994)': 514,
 'shadow, the (1994)': 515,
 'shadowlands (1993)': 516,
 'short cuts (1993)': 517,
 'simple twist of fate, a (1994)': 518,
 'sirens (1994)': 519,
 'six degrees of separation (1993)': 520,
 'sleepless in seattle (1993)': 521,
 'sliver (1993)': 522,
 'blade runner (1982)': 523,
 'son in law (1993)': 524,
 'so i married an axe murderer (1993)': 525,
 'striking distance (1993)': 526,
 'super mario bros. (1993)': 527,
 'surviving the game (1994)': 528,
 'terminal velocity (1994)': 529,
 'thirty-two short films about glenn gould (1993)': 530,
 'threesome (1994)': 531,
 'nightmare before christmas, the (1993)': 532,
 'three musketeers, the (1993)': 533,
 'tombstone (1993)': 534,
 'trial by jury (1994)': 535,
 'true romance (1993)': 536,
 'war room, the (1993)': 537,
 'mamma roma (1962)': 538,
 'pagemaster, the (1994)': 539,
 'paris, france (1993)': 540,
 'beans of egypt, maine, the (1994)': 541,
 'killer (bulletproof heart) (1994)': 542,
 'welcome to the dollhouse (1995)': 543,
 'germinal (1993)': 544,
 'chasers (1994)': 545,
 'cronos (1992)': 546,
 'naked in new york (1994)': 547,
 'kika (1993)': 548,
 'bhaji on the beach (1993)': 549,
 'little big league (1994)': 550,
 'slingshot, the (kådisbellan ) (1993)': 551,
 'wedding gift, the (1994)': 552,
 'foreign student (1994)': 553,
 'ciao, professore! (io speriamo che me la cavo ) (1993)': 554,
 'spanking the monkey (1994)': 555,
 'little rascals, the (1994)': 556,
 'fausto (1993)': 557,
 'andre (1994)': 558,
 'hour of the pig, the (1993)': 559,
 'princess caraboo (1994)': 560,
 'celluloid closet, the (1995)': 561,
 'metisse (café au lait) (1993)': 562,
 'dear diary (caro diario) (1994)': 563,
 "i don't want to talk about it (de eso no se habla) (1993)": 564,
 'brady bunch movie, the (1995)': 565,
 'home alone (1990)': 566,
 'ghost (1990)': 567,
 'aladdin (1992)': 568,
 'terminator 2: judgment day (1991)': 569,
 'dances with wolves (1990)': 570,
 'tough and deadly (1995)': 571,
 'batman (1989)': 572,
 'silence of the lambs, the (1991)': 573,
 'snow white and the seven dwarfs (1937)': 574,
 'beauty and the beast (1991)': 575,
 'pinocchio (1940)': 576,
 'pretty woman (1990)': 577,
 'window to paris (1994)': 578,
 'wild bunch, the (1969)': 579,
 'love and a .45 (1994)': 580,
 "wooden man's bride, the (wu kui) (1994)": 581,
 'great day in harlem, a (1994)': 582,
 'bye bye, love (1995)': 583,
 'one fine day (1996)': 584,
 'candyman: farewell to the flesh (1995)': 585,
 'century (1993)': 586,
 'fargo (1996)': 587,
 'homeward bound ii: lost in san francisco (1996)': 588,
 'heavy metal (1981)': 589,
 'hellraiser: bloodline (1996)': 590,
 'pallbearer, the (1996)': 591,
 'jane eyre (1996)': 592,
 'loaded (1994)': 593,
 'bread and chocolate (pane e cioccolata) (1973)': 594,
 'aristocats, the (1970)': 595,
 'flower of my secret, the (la flor de mi secreto) (1995)': 596,
 'two much (1996)': 597,
 'ed (1996)': 598,

In [46]:
# 위 코드 함수화
def get_similar_movie(movie_name: str):
    title = movie_to_idx[movie_name]
    similar_movie = als_model.similar_items(title)
    similar_movie = [idx_to_movie[i[0]] for i in similar_movie]
    return similar_movie

print("ok")

ok

In [47]:
# 내가 고르지 않은 영화 중 1개
get_similar_movie('american beauty (1999)')

['american beauty (1999)',
 'being john malkovich (1999)',
 'election (1999)',
 'shakespeare in love (1998)',
 'fargo (1996)',
 'braveheart (1995)',
 'saving private ryan (1998)',
 'american pie (1999)',
 'pulp fiction (1994)',
 'sixth sense, the (1999)']

In [48]:
user = user_to_idx['mark']
# recommend에서 user*item CSR Matrix를 받음
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(2114, 0.59058934),
 (350, 0.55254364),
 (33, 0.47041112),
 (1861, 0.36681712),
 (532, 0.27602124),
 (941, 0.2736119),
 (1689, 0.25988892),
 (2434, 0.25849962),
 (574, 0.25243855),
 (1164, 0.24539459),
 (1409, 0.23472817),
 (2155, 0.23196179),
 (1858, 0.21966974),
 (2056, 0.20057419),
 (1860, 0.19623187),
 (3433, 0.19424018),
 (818, 0.19190134),
 (2506, 0.18875208),
 (1003, 0.18643793),
 (725, 0.18474479)]

In [49]:
[idx_to_movie[i[0]] for i in movie_recommended]

["bug's life, a (1998)",
 'lion king, the (1994)',
 'babe (1995)',
 'little mermaid, the (1989)',
 'nightmare before christmas, the (1993)',
 'mary poppins (1964)',
 'mulan (1998)',
 'tarzan (1999)',
 'snow white and the seven dwarfs (1937)',
 'fantasia (1940)',
 'hercules (1997)',
 'shakespeare in love (1998)',
 'jungle book, the (1967)',
 'antz (1998)',
 'lady and the tramp (1955)',
 'chicken run (2000)',
 "singin' in the rain (1952)",
 'iron giant, the (1999)',
 'e.t. the extra-terrestrial (1982)',
 'hunchback of notre dame, the (1996)']

# 총평

1. csr matrix가 정상적으로 만들어졌다.
- 처음에는 정상적으로 만들지 못했다. 데이터병합을 최종으로 할 생각을 하고 movie_id기준으로 작업을 했는데 뭐가 잘못됐는지 잘 안됐다. 이렇게 저렇게 바꿔서 결국 csr matrix까지는 만들었지만 그 후 모델에 적용이 안됐다.
- 그래서 movies와 ratings를 초반에 병합했고 병합을 해보니 나중에 데이터를 보기도 편해졌고 이후에는 큰 문제 없이 잘 됐다.
    
2. mf모델이 정상적으로 훈련되어 그럴듯한 추천이 이루어졌다.
- 나는 만화 종류의 영화를 좋아하는 영화로 둔 후 백 투더 퓨처와의 내적을 해보니 약 0.4의 값이 나왔다. 추가로 tarzan과 mulan을 해보니 약 0.2의 더 낮은 값이 나왔다.. 내가 고른 영화는 만화영화여서 tarzan과 mulan에 더 큰 값이 나와야하는데 왜 그런지 잘 모르겠었다.
- 그래서 모델의 파라미터를 수정해서 해보니 back to the future는 0.003, tarzan과 mulan은 0.2로 조금 더 내가 원하는 방향으로 나왔다. 

3. 비슷한 영화 찾기와 유저에게 추천하기의 과정이 정상적으로 진행되었다. 
- toy story를 넣으니 toy story 시리즈를 추천해줬고 알라딘, 라이언킹 등 만화 종류를 많이 추천해줬다.
- user가 제일 많이 본 영화가 american beauty이길래 그걸 넣어본 후 추천영화와 american beauty에 대해 검색해보니 추천 영화들의 설명란에 '욕망'이란 단어가 꼭 들어간다. 비슷하게 추천해준 것 같다.

4. 느낀점
- 익스를 할 때마다 느끼는 것이지만 코드를 조금 더 자세히, 섬세하게, 조금만 다르게 생각해보고 정해진 틀에서 좀 벗어나려고 노력해야겠다고 매번 느낀다. 분명 해결할 수 있는 것인데 뭔가 답답한 느낌이다.